* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  .flex-container{   
      height:500px; 
      display: flex;
      flex-direction: column;
      background-color: #f4f4f4;

      /*Always is on the main axis*/
      /* justify-content: end; */
      /* justify-content: start; */
      /* justify-content: center; */
      /* justify-content: space-around; */
      justify-content: end;
      /* justify-content: space-evenly; */

      /*Always is on the cross axis*/
      /* align-items: end; */
      /* align-items: start; */
      align-items: start;
  }

  .item:nth-of-type(1){

  }

  .item:nth-of-type(2){

  }

  .item:nth-of-type(3){

  }

  .item{
      width:100px;
      height:100px;
      background: #254de4;
      color: #fff;
      margin: 10px;
  }